// Forms
.form {
  @include flexy($dir: column);
  .headline--secondary {
    margin-bottom: 30px;
  }

  &__label--hidden {
    display: none;
  }

  &__input,
  .btn--default {
    height: 50px;
  }

  &__input {
    border: none;
    margin: 20px 0;
    border-bottom: 5px solid $color-secondary;
  }

  &__input:focus {
    outline: none;
  }
}
