// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************


// main container class
.container {
  @extend %pri-style;
  @include mq('xs') {
    @include center(90%);
  }
  @include mq('sm') {
    @include center(80%);
  }
 
}

// grid base class
.grid {
  // .grid__row
  &__row {
    padding: 1em 10px;
    @include flexy($disp: flex, $dir: column);

    .theme__colors.grid__col {
      @for $i from 3 through 8 {
        @include grid-theme($i);
      }
      @include grid-theme(12);
    }

    @include mq('sm') {
      .centered {
        @include center(90%);
      }
    }
    

    // NOTE: replace with media query mixin if aiming for exceeds

    @include mq('sm') {
      @include flexy($dir: row);
    }
  }

  // .grid__col
  &__col {
    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {
      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1

      &--#{$i} {
        
        @include mq('xs') {
          @include flexy($wrap: wrap, $dir: column);
        }
        @include mq('sm') {
          @include flexy($wrap: wrap, $dir: row, $just: center);
        }
        text-decoration: none;
        font-family: $font-stack-primary;
  
        // base styles applied to all grid columns
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        margin-top: 10px;
        @include flexy($flx-basis: 100%);

        // NOTE: replace with media query mixin if aiming for exceeds
       @include mq('sm')  {
          // base stlyes applied to all grid columns
          margin-top: 0;

          // make column width a percentage of the column number / total columns
          @include flexy($flx-basis: flx-column-width($i));
        }
      }
    }
  }
}

// targets all elements with classes that begin with grid__col
[class^="grid__col"] {
  // grid__col + grid__col, targets two sibling columns
  & + & {
    // NOTE: replace with media query mixin if aiming for exceeds
    @include mq('sm') {
      margin-left: 10px;
    }
  }
}
