// Images

.img {
  &--logo {
    @extend %images;

    @include mq("xs") {
      @include center($pad: 20px);
    }
    @include mq("sm") {
      @include center($pad: 5px);
    }
  }
  &--avatar {
    @extend %images;
    @include roundy($dim: 200px);
    @include mq("sm") {
      margin: 0 40px;
    }
  }

  &--frame {
    @extend %images;
    @include center($w: 95%, $pad: 10px) {
      border: 1px solid lighten($color-primary, 35%);
      @include mq("sm") {
        margin-left: 40px;
      }
    }
  }
}
