.img {
  &--logo {
    @include img-style($pad: 20px);
  }
  &--avatar {
    @include img-style($w: 60%, $pad: 20px, $btm-margin: 40px);
  }

  &--frame {
    @include img-style(
      $w: 95%,
      $pad: 10px,
      $btm-margin: 40px,
      $brdr: 1px solid lighten($color-primary, 35%)
    );
  }
}
