// Typography
.headline {
  &--secondary {
    font-weight: 100;
    @include mq("sm") {
      font-size: px-to-em($value: 15);
    }
  }
}

.card {
  @include mq("sm") {
    padding: 20px;
    font-size: px-to-em($value: 14);
  }
  .headline {
    &--primary {
      @extend %sec-style;
      font-size: px-to-em($value: 30);
      margin-left: 20px;
    }
  }

  .link {
    @extend %sec-style;
    font-weight: bold;
    text-decoration: none;
    font-size: px-to-em($value: 15);
  }

  .blockquote {
    @include blockquote;
    @include mq("sm") {
      padding: 10px;
      font-size: px-to-em($value: 20);
    }
  }
}
